footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:12px;   
  color: black;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
  font-size: 0.7em;
  text-align: right;
  padding-right:20px;
  padding-bottom: 16px;
}
.main-header .logo {
  font-size: 1.3em;
}
#go_ga {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}
#go_sa {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}
#go {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}
#go_cmsy {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}

#go_sbpr {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}

#go_YPR {
  color: #ECF0F5;
  margin-left: 20px;
  background-color: #222D32;
}

#renderCmsyManagementChart {width:100%; height: 600px !important;}
#renderCmsyAnalysisChart {width:100%; height: 600px !important;}

#box_cmsy_results_charts { height: 1400px;}

.italicText {font-style: italic;}

.box-header { height: 46px;}

.shinysky-busy-indicator {
  z-index: 100 !important;
}

.loadingCustom {
  color : #0a7efc;
  font-size: 1.1em;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: -50px !important;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 150px;
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: rgba(200,200,200, 0.8) !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  padding: 30px;
  border-radius: 10px;
  visibility: hidden;
  z-index: 99999;
}
.loadingCustomInner {
  padding-bottom: 10px;
  text-align: center;
}
.loadingCustom span{
  margin-right: 10px;
}

.pheader_elefan {
  font-weight: bold;
}

.topLevelInformationButton {
  background-color:#222D32;
  color: #DBDBDB !important;
}
.topLevelInformationButton:hover {
  background-color:#222D32;
  color: #FFFFFF !important;
}

.main-sidebar { width : 240px !important;}
.logo { width : 240px !important;}
.navbar {margin-left: 240px !important;}
.sidebar-collapse .left-side, .sidebar-collapse .main-sidebar { transform: translate(-240px,0) !important; }

.divDividerMain{
      width: 100%;
    height: 90px;
    float: left;
}
.divDividerMain2{
      width: 100%;
    float: left;
}

#box_shaefer > .row > .col-sm-6:nth-child(1) { width: 38% !important; }
#box_shaefer > .row > .col-sm-6:nth-child(2) { width: 61% !important; }
#box_vonbertalannfy > .row > .col-sm-6:nth-child(1) { width: 38% !important; }
#box_vonbertalannfy > .row > .col-sm-6:nth-child(2) { width: 61% !important; }
#box_naturalMortality > .row > .col-sm-6:nth-child(1) { width: 38% !important; }
#box_naturalMortality > .row > .col-sm-6:nth-child(2) { width: 61% !important; }

.subTitle {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 10px;
}

#fishMethodsVersion1 {margin-bottom: 10px;}
#fishMethodsVersion2 {margin-bottom: 10px;}

#elefanGaTitle { margin-bottom: -14px; }
#elefanSaTitle { margin-bottom: -14px; }
#elefanTitle { margin-bottom: -14px; }
#sbprTitle { margin-bottom: -14px; }
#yprTitle { margin-bottom: -14px; }

.navbar {
  background-color: #3c8dbc !important;
  /*margin-left: 230px !important;*/
}
.logo:hover { background-color: #357ca5 !important; }
.logo {
  background-color: #357ca5 !important;
  color: #fff !important;
  border-bottom: 0 solid transparent !important;
  transition: width .3s ease-in-out !important;
  display: block !important;
  float: left !important;
  height: 50px !important;
  font-size: 20px !important;
  line-height: 50px !important;
  text-align: center !important;
  width: 240px !important;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  padding: 0 15px !important;
  font-weight: 300 !important;
  overflow: hidden !important;
  background-color: #357ca5 !important;
}
.sidebar-toggle {
  color: #fff !important;
}

.main-sidebar  {
  background-color: #222d32 !important;
  color: #fff !important;
} 

.main-sidebar a {
  color: #b8c7ce !important;
}

li.active {
  background: #1e282c;
  border-left-color: #3c8dbc;
  border-left: 3px solid #357ca5 !important;
}